.page-transition {
  display: inline-block; /* 否则 scale 动画不起作用 */
  position: absolute;
}

.page-enter {
  animation: page-in .3s;
  position: absolute;
}

.page-leave {
  animation: page-out .3s;
  position: absolute;
}

.pusher {
  .page-transition {
    &.full-page {
    }
  }
}

@keyframes page-in {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes page-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}